*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

div{
    display: block;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #BCC2E4; /* d */
    padding: 0;
    margin: 0;
    /* color: #f2f2f2; */
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;     
    user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html ::-webkit-scrollbar-button {
    display: none;
}

html ::-webkit-scrollbar-thumb {
    background-color: #ff9380;
    border-radius: none;
}

html ::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.wrapper{
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 25px;
}

/*HEADER START*/
.header{
    background-color: #fff;
    width: 100%;  
    padding: 15px 0;
}

.header_content{
    display: flex;
    align-items: center;
    color: #000;
    padding: 15px 0;    
}

.header_nav{
    /*margin-left: 270px;*/
    margin: 0 auto;
    transform: translateX(-10%);
}

.header_nav_menu{
    display: inline-flex;
}

.header_nav_menu li{
    margin-left: 67px; /*42+25*/
    display: inline-flex;
    flex-wrap: wrap;
}

.header_nav_menu li:first-child{
    margin-left: 0;
}

.span_link_active{
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.span_link{
    opacity: 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.a_link:hover + .span_link{
    opacity: 1;
}

.header_nav_menu a{
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.header_fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    animation-name: show_header;
    animation-duration: 0.5s;
    z-index: 300;
    padding: 15px 0;
}

.header_fixed a{
    color: #fff; /* fff */
}

.header_fixed path{
    fill: white;
}

.header_fixed .fill_good{
    fill: #fff;
}

.header_fixed .fill_logo{
    fill: #fff;
}

@keyframes show_header{
    0%{
        opacity: 0;
        top: -80px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

/*BURGER START*/

.header_burger{
    display: none;
    cursor: pointer;
}

/*BURGER END*/

.services_line::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
}

/*HEADER END*/


/*CARD END*/

/*CONTACT START*/

.contact{
    background-color: #fff;
    padding-bottom: 120px;
    padding-top: 120px;
}

.contact_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.contact_text{
    color: #000;
    max-width: 487px;
}

.contact_text_h1{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 96px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.contact_text_p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 127px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.contact_link{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.contact_link a{
    display: block;
    color:#000;
    line-height: 35px;
}

.contact_link a:first-child{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.contact_link a:last-child{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
}

.contact_form{
    width: 800px;
    background: url(..//img/sun_2.png) no-repeat right top, #000;
    color: #fff;
    padding: 0 78px;
    padding-bottom: 97px; 
    padding-top: 78px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.contact_form_h1{
    text-transform: none;
    font-weight: 500;
    font-size: 75px;
    line-height: 121px;
    padding-bottom: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.form_item{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.form_input{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    padding: 47px 0 20px 0;
    color: #fff;
    font-size: 20px;
    margin-bottom: 57px;
}

.form_input:focus{
    border-bottom: 1px solid #a3a3a3;
}

.form__display{
    display: flex;
    gap: 45px;
}

.form__display-item{
    flex: 0 1 50%;
}

.form_input::placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: white;
    transition: all 0.5s ease;
    
}

.form_input:focus::placeholder { 
    font-size: 15px; 
    transform: translateY(-25px);
}

textarea{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    resize: none;
}

.form_label textarea{
    width: 100%;
    resize: none;   
}


.form_button{
    outline: none;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    padding: 12px 22px 12px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.form_button_svg{
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.fill_form{
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    
}

.form_button:hover{
    background-color: #ff003d;
    border: 1px solid #ff003d;
    color: #fff;
}

.form_button:hover .fill_form{
    fill: #fff;
}

.form_button:hover .form_button_svg{
    transform: rotate(45deg);
}
.contact_form label.error {
    font-size: 0.8em;
    color: #ff003d;
    font-weight: bold;
    display: block;
    margin-left: 215px;
}
.contact_form  input.error, .contact_form select.error  {
    background: #FFA9B8;
    border-bottom: 1px solid #ff003d;
}

.form *{
    outline: none;
}

.form_input._error{
    border-bottom: 1px solid #ff003d;
    transition: all 0.5s ease 0s;
}

/*CONTACT END*/

.footer{
    background-color: #000;
   
}

.footer_logo{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 76px;
    padding-bottom: 90px;
    gap: 5%;
}

.footer_links{
    /*width: 1470px;*/
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.footer_links_up{
    display: flex;
    padding-bottom: 41px;
}

.footer_links_quick{
    display: flex;
}

.footer_links_img{
    display: none;
}

.footer_links_contact{
    display: block;
    margin-left: 200px; /*200*/
}

.footer_links_contact h3{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 29px;
    white-space: nowrap;
    color: #fff;
}

.footer_links_contact a{
    display: table;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 16px;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s ease;
}

.footer_links_contact a:hover{
    background-size: 100% 1px;
    line-height: 1.5;
}

.footer_links_prtotect{
    max-width: 492px;
    margin-left: 310px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.protect_back_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.protect_back_btn h1{
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
    line-height: 100%;
    color: #fff;
}

.protect_capthcha{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color:#fff;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.protect_capthcha a{
    color: #fff;
    text-decoration: underline;
}

.footer_line{
    /*width: 100%;*/
    max-width: 100%;
    border: 0.9673px solid #fff;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.footer_rights{
    color: #fff;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.footer_rights a{
    color: #fff;
}

.back_btn{
    transition: 0.5s ease;
}
.back_btn:hover{
    transform: translateY(-20px);
}

/*SCROLL*/

.hero_title.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.hero_text.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.service_title.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.service_accordion.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}
.service_line.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}
.service_page.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.companies_title.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}
.companies_text.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}
.companies_cards.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.companies_page.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.slider_title.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.slider-buttons.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.swiper.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.contact_text_h1.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.contact_text_p.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.contact_link.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.contact_form.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.contact_form_h1.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.form_item.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.footer_logo.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.footer_links.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.footer_links_prtotect.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.protect_capthcha.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.footer_line.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}

.footer_rights.element-show{
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(0%);
}



