/*ADAPTIVE*/

@media (max-width: 1449.98px) {
    .wrapper{
        max-width: 1200px;
        padding: 0 15px;
    }
    .header_nav{
        transform: translateX(10%)
    }
    .header_nav_menu li{
        margin-left: 47px;
    }
    .hero_title{
        top: -99px;
    }
    .hero_title h1{
        font-size: 110px;
    }
    .hero_text_p p{
        font-size: 29px;
        line-height: 39px;
    }
    .accordion_title{
        white-space: normal;
    }
    .accordion_title:first-child{
        max-width: 250px;
        line-height: 60px;
    }
    .slider_title{
        top: -66px;
    }
    .slider_title h1{
        font-size: 75px;
        
    }
    .contact_content{
        gap: 7%;
    }
    .footer_links_contact{
        margin-left: 100px; /*200*/
    }
    .footer_links_prtotect{
        margin-left: 155px; /*310*/
    }
    .footer_content{
        gap: 7%;
    }
    .footer_links_up{
        margin-top: 80px;
    }
    .protect_back_btn h1{
        font-size: 45px;
    }
    .protect_back_btn{
        gap: 10px;
    }

}

@media (max-width: 991.98px) {
    .wrapper{
        max-width: 970px;
    }
}

@media (max-width: 767.98px) {
    .wrapper{
        max-width: 740px;
    }
}

@media (max-width: 479.98px) {
    .wrapper{
        max-width: none;
    }
}

