/*ADAPTIVE*/
@media (max-width: 1599.98px) {
    /*.card__column{
        max-width: 300px;
        height: 400px;
    }*/
    .card__row{
        justify-content: center;
    }
}



    
@media (max-width: 1449.98px) {
    .wrapper{
        max-width: 1200px;
        padding: 0 15px;
    }
    .header_nav{
        margin: 0 auto;
        transform: translateX(10%);
    }
    .header_nav_menu li{
        margin-left: 47px;
    }
    .header_nav_menu a{
        font-size: 16px;
    }
    .hero_title{
        top: -99px;
    }
    .hero_title h1{
        font-size: 110px;
    }
    .hero_text_p p{
        font-size: 29px;
        line-height: 39px;
    }
    .accordion_title{
        white-space: normal;
    }
    .accordion_title{
        max-width: 250px;
        line-height: 60px;
    }
    .slider_title{
        top: -65px;
    }
    .slider_title h1{
        font-size: 75px;
    }
    .slider-buttons{
        left: 65%;
    }
    .companies_page_a{
        font-size: 20px;
    }
    .companies_cards{
        grid-template-columns: auto auto auto;
        padding-bottom: 200px;
    }
    .service_page_a{
        font-size: 20px;
    }
    .contact_content{
        gap: 7%;
    }
    /*
    .card__column{
        max-width: 250px;
        height: 350px;
    }
    .card__logo{
        width: 150px;
        height: 150px;
    }
    .card__front h2,
    .card__front p {
        color: white;
        font-size: 15px;
    }

    .card__back h2,
    .card__back p {
        color: white;
        font-size: 15px;
    }*/
    .footer_links_contact{
        margin-left: 100px; /*200*/
    }
    .footer_links_prtotect{
        margin-left: 100px; /*310*/
    }
    .footer_content{
        gap: 7%;
    }
    .footer_links_up{
        margin-top: 80px;
    }
    .protect_back_btn h1{
        font-size: 45px;
    }
    .protect_back_btn{
        gap: 10px;
    }

}

@media (max-width: 1090.98px) {
    .wrapper{
        max-width: 1070px;
        padding: 0 20px;
    }
    .hero_title{
        top: -82px;
    }
    .hero_title h1 {
        font-size: 95px;
        line-height: 95px;
    }
    .hero_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    } 
    .hero_text_p p{
        font-size: 38px;
        line-height: 50px;
    }
    /* .hero_img_i{
        width: fit-content;
        height: fit-content;
    } */
    .companies_cards{
        grid-template-columns: auto auto ;
    }
    .card__row{
        display: flex;
        /* flex-wrap: wrap; */
    } 
    .card__column{
        flex: 0 1 50%;
    }
    .card__logo{
        width: 150px;
        height: 150px;
    }
    .card__front h2,
    .card__front p {
        color: white;
        font-size: 15px;
    }

    .card__back h2,
    .card__back p {
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 991.98px) {
    .wrapper{
        max-width: 970px;
        padding: 0 20px;

    }
    body.lock{
        overflow: hidden;
    }
    /*BURGER*/
    .header_nav_menu{
        display: block;
        max-width: 300px;
    }
    .header_nav_menu li{
        margin-bottom: 40px;
        margin-left: 0;
        padding-left: 80px;
    }
    .header_nav_menu a{
        font-size: 32px;
    }
    .span_link{
        display: none;
    }
    .header_nav{
        position: fixed;  
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        background-color: #fff;
        padding-top: 140px;
        z-index: 50;
        transition: all 0.5s ease;
    }

    .header_nav.active{
        right: 0;
       
    }

    .header_burger{
        display: block;
        margin-left: auto;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 20px;
        z-index: 51;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }

    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }

    .header_burger span{
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease;
    }
    
    
    .header_fixed .header_burger span{
        background-color: #fff;
        
    }

    .header_fixed .header_burger::before{
        background-color: #fff;
    }

    .header_fixed .header_burger::after{
        background-color: #fff;
    }

    .span_link_active svg{
        width: 26px;
        height: 26px;
        margin-top: -3px;
    }

    .header_nav.active .fill_good{
        fill: black;
    }

    .header_fixed .header_burger.active::before {
        background-color: #000;
    }
    .header_fixed .header_burger.active::after {
        background-color: #000;
    }

    .header_fixed .header_nav a{
        color: #000;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform:  rotate(-45deg);
        bottom: 9px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .span_link_active::after{
        content: '';
        background: url(../img/arrow_header.svg) no-repeat;
    }

    /*BURGER*/
    
    .intro_img{
        width: 750px;
        height: 750px;
    }
    .hero_title{
        max-width: 548px;
        top: -45px;
        margin-bottom: 15px;
        padding: 0 30px;
    }
    .hero_title h1{
        font-size: 50px;
        line-height: 56px;
    }
    .hero_text_p{
        padding: 0 40px;
    }
    .hero_text_p p{
        text-align: left;
        font-size: 25px;
        line-height: 33px;
    }
    .hero_text_help{
        display: none;
    }
    .services{
        padding-top: 20px;
    }
    .accordion_title{
        font-size: 28px;
        line-height: 42px;
    }
    .accordion_text{
        font-size: 18px;
        line-height: 22px;
    }
    .companies_cards{
        grid-template-columns: auto auto;
    }
    .slider_title{
        top: -49px;
    }
    .slider_title h1{
        font-size: 58px;
    }
    .companies_page_a{
        font-size: 16px;
    }
    .service_page_a{
        font-size: 16px;
    }
    .swiper-slide-hide__block{
        padding: 38px 40px;
        transform: translateY(0%);
    }
    .slider-buttons{
        left: 55%;
    }
    .contact_content{
        display: block;
    }
    .contact_text{
        margin-bottom: 121px;
        margin-left: 1%;
    }
    .contact_text_h1{
        margin-bottom: 80px;
        font-size: 80px;
    }
    .contact_text_p{
        margin-bottom: 90px;
    }
    .contact_form{
        max-width: 100%;
        margin: 0 auto;
    }
    .footer_links_up{
        display: block;
    }
    .footer_content{
        gap: 0;
        padding: 0 50px;
        align-items: flex-start;
    }
    .footer_links_up{
        margin-top: 0px;
    }
    .footer_content{
        padding-top: 80px;
    }
    .protect_back_btn{
        margin-top: 40px;
    }
    
}

@media (max-width: 767.98px) {
    .wrapper{
        max-width: 740px;
        padding: 0 15px;
    }
    .header_nav{
        width: 70%;
    }
    .hero_title{
        top: -42px;
    }
    .hero_title h1 {
        line-height: 50px;
    }
    .intro img{
        width: 530px;
        height: 530px;
        transform: translateY(130px);
    }
    .service_accordion{
        display: grid;
        grid-template-columns: auto;
    }
    

    .accordion_title{
        grid-column-start: 1;
        grid-column-end: 2;
        gap: 0;
        padding-bottom: 50px;
    }

    .accordion_text{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .accordion_strelka{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: auto;
    }

    .problem{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: auto;
        margin-top: 0;
    }

    .accordion_title{
        margin-bottom: 0;
    }
    .service_accordion{
        padding:30px;
        gap: 5%;
    }
    .service_page_a {
        font-size: 14px;
        margin-right: 5px;
    }
    .service_page_img svg{
        width: 13px;
        height: 13px;
        margin-bottom: -1px;
    }
    .companies_text p{
        font-size: 20px;
        line-height: 32px;
    }
    .companies_title h2{
        font-size: 45px;
        line-height: 56px;
    }
    .slider_title {
        top: -23px;
    }
    .slider_title h1 {
        font-size: 28px;
    }
    .companies_page_a {
        font-size: 14px;
    }
    .companies_page_img svg{
        width: 13px;
        height: 13px;
        margin-bottom: 3px;
    }
    .slider-buttons{
        left: 65%;
    }
    .swiper-button-next p{
        font-size: 24px;
        margin-left: 300px;
    }
    .swiper-button-prev p{
        font-size: 24px;
    }
    .slider_swiper{
        margin-left: 5%;
    }
    .slider{
        padding-bottom: 100px;
    }
    .contact_text_h1{
        font-size: 50px;
        margin-bottom: 40px;
    }
    .contact_link a{
        line-height: 25px;
    }
    .contact_link a:first-child{
        font-size: 15px;
    }
    .contact_link a:last-child{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        text-transform: uppercase;
    }
    .contact_form h1{
        font-size: 55px;
        line-height: 65px;
    }
    .form_input::placeholder{
        font-size: 16px;
        line-height: 18px;  
    }
    
    .form_input:focus::placeholder { 
        font-size: 12px; 
    }
    .form_input{
        font-size: 14px;
    }
    .form_button{
        font-size: 24px;
        line-height: 36px;
        padding: 12px 22px 12px 12px;
    }
    .footer_logo img{
        display: none;
    }
    .footer_links_img{
        display: block;
    }
    .footer_links_img img{
        max-width: 95px;
    }
    .footer_content {
        padding: 15px;
        padding-top: 50px;
    }
    .companies_page {
        margin-bottom: -1%;
    }
    .card__column{
        flex: 1 0 100%;
        max-width: 450px;
    }
    .card{
        padding-bottom: 150px;
    }
    .card__title{
        font-size: 45px;
        line-height: 56px; 
    }
}

@media (max-width: 574.98px) {
    .wrapper{
        max-width: 540px;
        padding: 0 10px;
    }
    .header_nav_menu a {
        font-size: 24px;
    }
    .span_link_active{
        width: 20px;
        height: 20px;
        margin-top: 2px;
    }
    .intro img{
        width: 460px;
        height: 460px;
        transform: translateY(100px) translateX(-10px);
    }
    .hero_title{
        top: -38px;
    }
    .hero_title h1{
        font-size: 40px;
    }
    .accordion_title {
        font-size: 24px;
        line-height: 36px;
    }
    .accordion_text {
        font-size: 14px;
        line-height: 18px;
    }
    .service_accordion {
        gap: 0; 
    }
    .companies_cards {
        grid-template-columns: auto;
    }
    .companies_pocket {
        display: block;
        
    }
    .companies_text{
        margin-left: 0;
    }
    .companies_cards {
        padding-bottom: 150px;
    }
    .slider-buttons{
        left: 55%;
    }
    .swiper-slide-hide__block {
        padding: 19px 20px;
    }
    .contact {
        padding-bottom: 103px;
    }
    .footer_links_contact {
        margin-left: 10%;
    }
    .header_nav{ 
        width: 75%;
    }
    .footer_rights {
        display: block;
        line-height: 26px;
    }
    .companies_pocket {
        padding-left: 30px;
        padding-right: 30px;
    }
    .swiper-button-next p {
        margin-bottom: 100px;
    }
    .swiper-button-prev p{
        margin-bottom: 100px;
    }
    .card__column{
        height: 350px;
    }
}


@media (max-width: 479.98px) {
    .wrapper{
        max-width: 450px;
        padding: 0 15px;
    }
    .hero{
        margin-top: -180px;
        padding-bottom: 75px;
    }
    .hero_title{
        padding: 0;
        top: -34px;
        max-width: 355px; 
    }
    .intro img{
        width: 350px;
        height: 350px;
    }
    .intro_img{
        transition: all 5s ease;
        transform: translateY(150px) translateX(-10px);
    }
    .intro_img.active{
        transform: translateY(-50px);
    }
    .hero_text_p {
        padding: 0;
    }
    .hero_text_p p {
        font-size: 16px;
    }
    .hero_title h1 {
        font-size: 35px;
        line-height: 42px;
    }
    .header_nav{ 
        width: 85%;
    }
    .slider_title{
        max-width: fit-content;
        top: -19px;
    }
    .slider_title h1{
        font-size: 24px;
    }
    .companies_page_a {
        font-size: 10px;
    }
    .companies_title h2{
        margin-bottom: 30px;
    }
    .companies_pocket{
        padding-top: 90px;
    }
    .contact_form h1 {
        font-size: 36px;
        line-height: 65px;
    }
    .footer_links_prtotect {
        margin-left: 0;
    }
    .footer_content {
       /*  padding: 0px */
        padding-top: 50px;
    }
    .contact_form {
        padding: 0 45px;
        padding-bottom: 97px;
        padding-top: 78px;
    }
    .footer_links_contact h3 {
        font-size: 18px;
    }
    .footer_links_contact a {
        font-size: 14px;
    }
}

@media (max-width: 374.98px){
    .wrapper{
        max-width: none;
    }
    .hero{
        margin-top: -180px;
        padding-bottom: 75px;
    }
    .hero_title{
        padding: 0;
        top: -28px;
        max-width: 300px;
    }
    .hero_title h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .hero_text_p {
        padding: 0;
    }
    .hero_text_p p{
        font-size: 14px;
        line-height: 28px;
    }
    .intro img{
        width: 300px;
        height: 300px;
    }
    .intro_img{
        transition: all 5s ease;
        transform: translateY(350px) translateX(-10px);
    }
    .intro_img.active{
        transform: translateY(0);
    }
    .service_title h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .accordion_strelka img {
        width: 36px;
        height: 36px;
    }
    .slider_title{
        top: -17px;
    }
    .slider_title h1 {
        font-size: 20px;
    }
    .slider-buttons{
        left: 45%;
    }       
    .form_button {
        font-size: 18px;
        line-height: 28px;
    }
    .footer_content {
        /* padding: 0; */
        padding-top: 50px;
    }
    .footer_links_contact h3 {
        font-size: 16px;
    }
    .footer_links_contact a {
        font-size: 12px;
    }
    .footer_links_img img {
        max-width: 65px;
    }
    .protect_back_btn h1 {
        font-size: 35px;
    }
    .back_btn img{
        width: 86px;
        height: 86px;
    }
    .protect_back_btn {
        margin-top: 20px;
    }
    .footer_links_prtotect {
        margin-left: 0;
    }
    .protect_back_btn {
        margin-bottom: 20px;
    }
    .header_nav_menu a {
        font-size: 18px;
    }
    .span_link_active svg{
        width: 16px;
        height: 16px;
    }
    .contact_form {
        padding: 0 30px;
        padding-bottom: 97px;
        padding-top: 78px;
    }
}


